[Unit]
Description=ManaGuide-graphql systemd service
After=network-online.target

[Service]
ExecStart=/usr/bin/npm run dev
WorkingDirectory=/path/to/managuide-graphql
RestartSec=10
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=managuide-graphql

[Install]
WantedBy=multi-user.target