[Unit]
Description=Manaprobe-graphql systemd service
After=network-online.target

[Service]
ExecStart=/usr/bin/npm run dev
WorkingDirectory=/path/to/manaprobe-graphql
RestartSec=10
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=manaprobe-graphql

[Install]
WantedBy=multi-user.target